@charset "UTF-8";
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format "woff", url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Mulish", "Baloo", "sans-serif";
  font-size: 14px;
  background-color: white;
  color: black;
  margin: 0;
}

main {
  padding-top: 80px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

h1 {
  font-family: "Baloo";
  font-size: 40px;
}

h2 {
  font-family: "Baloo";
  font-size: 32px;
}

h3 {
  font-family: "Baloo";
  font-size: 24px;
}

h4 {
  font-family: "Baloo";
  font-size: 20px;
}

p, label, input {
  font-family: "Mulish";
}

label {
  font-weight: bold;
}

input:user-invalid, input.invalid {
  border-color: red;
}
input:user-invalid + span, input.invalid + span {
  display: block;
}

.bouton {
  font-family: "Mulish";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #064082;
  border-radius: 8px;
  height: 2rem;
  width: 10em;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}
.bouton:hover {
  background-color: rgb(6.75, 72, 146.25);
}
.bouton:active {
  background-color: rgb(4.5, 48, 97.5);
}

/*###############################
#            FOOTER             #
###############################*/
.footer {
  background-color: #f9f9fb;
  border-top: 4px solid #FCB66B;
  color: #333;
  font-family: "Mulish";
  padding-top: 1rem;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}
.footer .footer-content .footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section p, .footer .footer-content .footer-section li, .footer .footer-content .footer-section a {
  font-size: 14px;
  color: #444;
  text-decoration: none;
}
.footer .footer-content .footer-section p {
  margin-bottom: 0.3rem;
  margin-top: 0;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-content .footer-section ul li {
  margin-bottom: 0.3rem;
}
.footer .footer-content .footer-map {
  text-align: center;
}
.footer .footer-content .footer-map img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
.footer .footer-bottom {
  background-color: #D1ECF8;
  text-align: center;
  padding: 0.5rem;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ccc;
}
.footer .footer-logo {
  align-self: center;
}
.footer .logo-mobile-only-footer {
  display: none;
}
.footer .mobile-only {
  display: none;
}
@media screen and (max-width : 428px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-content {
    grid-template-columns: 50% 50%;
    text-align: left;
  }
  .footer .footer-content h3 {
    font-size: 13px;
  }
  .footer .footer-content .footer-logo {
    display: none;
  }
  .footer .footer-bottom {
    font-size: 10px;
  }
  .footer .logo-mobile-only-footer {
    display: block;
    align-self: center;
  }
  .footer .mobile-only {
    display: none;
  }
  .footer .other-account {
    align-self: center;
    text-align: center;
    margin-top: 10px;
  }
}

.separateur {
  display: block;
  background-color: #FCB66B;
  width: 98%;
  height: 10px;
  border-radius: 1em;
}

.separateur2 {
  display: none;
  background-color: #FCB66B;
  width: 100%;
  height: 10px;
  border-radius: 1em;
}
@media screen and (max-width : 428px) {
  .separateur2 {
    display: block;
    margin-left: 20px;
  }
}

main {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.container {
  border: #A1A1A1 solid 0.01em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin-top: 1em;
  align-self: center;
  padding: 2em;
  h4{
    text-align:center;
  }
  p {
    text-align:justify;
    text-justify: inter-word;
  }
}

@media screen and (max-width : 428px) {
  form {
    width: 90%;
    padding: 1em;
    align-items: center;
  }
  form input {
    width: 80%;
  }
  form label {
    align-self: flex-start;
    font-size: 0.8em;
  }
}
form span {
  display: none;
  color: red;
}
form input {
  border: solid 1px;
  border-radius: 1em;
  height: 3em;
  margin: 10px 0;
  padding: 10px;
}
form .bouton{
  display: block;
  margin: 2.5em auto;
  align-self: center;
  height: 2.5em;
  text-align: center;
}
form input::file-selector-button {
  font-family: "Mulish";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #064082;
  border-radius: 1em;
  height: 2rem;
  border: none;
  cursor: pointer;
}
form input::file-selector-button:hover {
  background-color: rgb(6.75, 72, 146.25);
}
form input::file-selector-button:active {
  background-color: rgb(4.5, 48, 97.5);
}
form input#photoCli {
  border: none;
  font-size: 0.8em;
}
form input:user-invalid, form input.invalid {
  border-color: red;
}
form input:user-invalid + span, form input.invalid + span {
  display: block;
}
@media screen and (max-width : 428px) {
  form input {
    width: 100%;
  }
  form input::-moz-placeholder {
    font-size: 0.9em;
  }
  form input::placeholder {
    font-size: 0.9em;
  }
}

form .btnSec {
  background-color: #6CA6E9;
}

#nomCli {
  width: 100%;
}

.labelInput {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width : 428px) {
  .labelInput {
    display: block;
    width: 100%;
  }
}

.btnJaune {
  font-family: "Mulish";
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #FCB66B;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 0.25em;
  width: 8em;
  margin-bottom: 2.5em;
  margin-top:0.5em;
}
.btnJaune:hover {
  background-color: rgb(149.9602649007, 79.0331125828, 3.0397350993);
}
.btnJaune:active {
  background-color: rgb(99.9735099338, 52.6887417219, 2.0264900662);
}

.logo{
  margin-bottom: 2.5em;
}
.chiffre{
  width: 30px;
  height: 50px;
  font-size: 30px;
}
.code{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
@media screen and (max-width : 428px) {
  .code{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}
.chiffre{
  width: 15px;
  height: 25px;
  font-size: 30px;
}
}
.QR{
  width: 300px;
  height: 300px;
}